
div {
margin: 0.1em;
}

#content {
font-size:  1em;
padding:  0.2em;
margin:  0.2em;
}

button {
/*
border:solid 1px #57977b;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
font-size:  2em;
width:  1.6em;
height:  1.6em;
*/
/* width: 3em; */
}

textarea, input, #def_label, #rafsi_label, #gloss_label, #xref_label, #gismu_label, #notes_label {
/* border:solid 1px #5797ab; 
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
background-color:#b0c4de; */
color: #ffffff;
padding: 0.2em;
margin:  0.2em;
}

#nav, #lower {
width:  100%;
}

.sel {
font-size:  1.3em;
}

#player {
margin: 1em 1em 0em 0em;
}

#gismu_label, #filter_input {
font-size:  2.2em;
width: 30%;
color: #050505;
}

#filter_input {
width: 90%;
}

#def_label, #notes_label, #xref_label {
font-size:  1.5em;
width: 100%;
}

#rafsi_label {
font-size: 2em;
height: 2.5em;
width: 40%;
float: right;
}

#xref_label, #list_label {
column-count:2;
-moz-column-count:2; /* Firefox */
-webkit-column-count:2; /* Safari and Chrome */
}

#gloss_label {
font-size: 1.8em;
width: 45%;
float: left;
}

.gismu_list_gismu {
font-family:"courier",Monospace,serif;
font-size: 1.3em;
}

#filter_list {
font-size: 1.2em;
}

#spacer {
height: 0.5em;
}

.label_title {
font-size: 0.8em;
}

