
div {
margin: 0.1em;
}

#content {
font-size:  1em;
padding:  0.2em;
margin:  0.2em;
}

button.icon {
width:35px;
}

textarea, input, #def_label, #rafsi_label, #glico_label, #gloss_label, #xref_label, 
  #gismu_label, #notes_label, #quiz_text, #quiz_result_text {
/* border:solid 1px #5797ab; 
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
background-color:#b0c4de; */
color: #ffffff;
padding: 0.2em;
margin:  0.2em;
}

#nav, #lower, #quiz_item {
width:  100%;
}

.sel {
font-size:  1.3em;
}

#player {
margin: 1em 1em 0em 0em;
}

#gismu_label, #filter_input, #rafsi_input, #quiz_input, #glico_input, #quiz_result {
font-size:  2.0em;
color: #050505;
}

#gismu_label, #rafsi_input, #quiz_input {
width: 30%;
}

#filter_input, #glico_input {
width: 110%;
}

#def_label, #notes_label, #xref_label, #quiz_text {
font-size:  1.5em;
width: 100%;
}

#rafsi_label {
font-size: 2em;
height: 2.5em;
width: 40%;
float: right;
}

#xref_label, #list_label {
column-count:2;
-moz-column-count:2; /* Firefox */
-webkit-column-count:2; /* Safari and Chrome */
}

#gloss_label {
font-size: 1.8em;
width: 45%;
float: left;
}

.gismu_list_gismu {
font-family:"courier",Monospace,serif;
font-size: 1.3em;
font-weight: bold;
}

#filter_list, #glico_list {
font-size: 1.2em;
}

.filter_output_item {
}

.gismu_list_def, .gismu_list_rafsi {
margin-left: 4em;
}

#spacer {
height: 0.5em;
}

.label_title {
font-size: 0.8em;
}

.gloss_list_item {
padding-left: 1em;
display:  inline;
}

